* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

:root {
    --color1: #fd984a;
    --color2: #4e15668b;
}

body {
    background-color: var(--color2);
}

.container {
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 500px;

    background-color: var(--color1);
    color: white;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;

    box-shadow: 0 4px 8px 0 rgba(74, 17, 86, 0.6);
}